* {
  box-sizing: border-box;
}

html {
  font-size: min(calc(50% + 1.5vw), 20px);
  background-color: #eeeeee;
  color: #222831;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
